openapi: 3.1.1
info:
  title: API для сервера чата
  description: |
    API для сервера чата.
    Предоставляет эндпоинты для регистрации и входа, а также
    для управления сообщениями (отправка нового, изменение старых, получение новых непрочитанных)
  version: 0.0.1
  contact:
    email: usikov_andru@mail.ru
    name: Andrew Usikov
    url: https://t.me/CGSGAU3

servers:
- url: http://localhost:8080
  description: Сервер разработки

tags:
- name: system
  description: Получение информации о состоянии сервера
- name: auth
  description: Запросы, связанные с учетными записями пользователей

paths:
  /api/alive:
    get:
      tags:
      - system
      summary: Получение информации о сервере
      description: |
        Получает информацию о дате и времени запуска сервера и текущем времени на сервере.
        Возвращает сообщение с соответствующими полями.
      operationId: ifAlive
      responses:
        '200':
          description: Сообщение о состоянии сервера получено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AliveResponse'
  /api/check_token:
    post:
      tags:
      - system
      summary: Получение информации о статусе токена
      description: |
        Получает информацию о наличии отправленного токена в базе данных активных сессий.
        Возвращает JSON с одним полем - флагом наличия токена в базе.
      operationId: check_token
      requestBody:
        $ref: '#/components/bodies/TokenBody'
      responses:
        '200':
          description: Объект с флагом существования токена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenStatus'
        '400':
          description: Во время обработки запроса произошла ошибка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
  /api/auth/register:
    post:
      tags:
      - auth
      summary: Запрос на регистрацию нового пользователя
      description: |
        Отправляет запрос на регистрацию со всеми заполненными полями.
        Возвращает статус запроса.
      operationId: register
      requestBody:
        $ref: '#/components/bodies/RegisterBody'
      responses:
        '200':
          description: Статус запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawSuccess'
        '400':
          description: В данных содержится ошибка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
  /api/auth/login:
    post:
      tags:
      - auth
      summary: Запрос на авторизацию пользователя
      description: |
        Отправляет запрос на авторизацию с заполненным логином и паролем.
        Возвращает статус запроса и токен авторизации.
      operationId: login
      requestBody:
        $ref: '#/components/bodies/LoginBody'
      responses:
        '200':
          description: Токен авторизации и статус
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Такого пользователя не существует или в данных иная ошибка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
        '401':
          description: Пароль неверный
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
        '500':
          description: Произошла внутренняя ошибка сервера



components:
  bodies:
    TokenBody:
      type: RequestBody
      required: true
      description: JSON с токеном, который надо проверить
      content:
        application/json:
          schema:
            type: object
            required:
            - token
            properties:
              token:
                type: string
                description: Токен, который надо проверить
            example:
              token: ABCDEFG

    RegisterBody:
      type: RequestBody
      required: true
      description: Объект с заполненными данными пользователя
      content:
        application/json:
          schema:
            type: object
            required:
            - login
            - password
            - first_name
            - last_name
            properties:
              login:
                type: string
                description: Юзернейм пользователя
              password:
                type: string
                description: Пароль пользователя
              first_name:
                type: string
                description: Имя пользователя
              last_name:
                type: string
                description: Фамилия пользователя
            example:
              login: CGSGAU3
              password: qwerty
              first_name: Андрей
              last_name: Усиков
    
    LoginBody:
      type: RequestBody
      required: true
      description: Объект с данными пользователя для авторизации
      content:
        application/json:
          schema:
            type: object
            required:
            - login
            - password
            properties:
              login:
                type: string
                description: Юзернейм пользователя
              password:
                type: string
                description: Пароль пользователя
            example:
              login: CGSGAU3
              password: qwerty


  schemas:
    AliveResponse:
      type: object
      required:
      - status
      - started_at
      - timestamp
      properties:
        status:
          type: string
          enum:
          - online
          description: Статус сервера
        started_at:
          type: string
          format: date-time
          description: Время запуска сервера
        timestamp:
          type: string
          format: date-time
          description: Локальное время на сервере
      example:
        status: online
        started_at: "2025-11-13 03:57:49"
        timestamp: "2025-11-13 04:19:08"

    TokenStatus:
      type: object
      required:
      - check_status
      properties:
        check_status:
          type: boolean
          description: Флаг существования токена в базе данных
      example:
        check_status: true

    RawSuccess:
      type: object
      request:
      - status
      properties:
        status:
          type: string
          enum:
          - success
          description: Статус запроса
      example:
        status: success

    LoginResponse:
      type: object
      request:
      - status
      - auth_token
      properties:
        status:
          type: string
          enum:
          - success
          description: Статус запроса
        auth_token:
          type: string
          description: Токен для последующих взаимодействий с api
      example:
        status: success
        token: ABCDEFG

    ErrorSchema:
      type: object
      required:
      - status
      - error
      - message
      properties:
        status:
          type: string
          enum:
          - error
          description: Статус запроса
        error:
          type: string
          description: Название ошибки в HTTP-формулировке
        message:
          type: string
          description: Сообщение ошибки
      example:
        status: error
        error: bad_request
        message: Exception while processing request!
          
